---
const { id, label, href, type, variantButton="default", variantLabel="default"} = Astro.props;
---

<a href={`${href}`}>
	<button id={id} class={`${variantButton} ${variantLabel}`} type={type}> <span data-i18n={`${label}`}></span></button>
</a>