---
// destructuring icon as Icon and rendering it like a component - this works if the SVG is imported as a component
const {
  id,
  label,
  hasIcon = false,
  icon: Icon,
  isIconRight = true,
  href,
  type,
  variantFullComponent = "default",
  variantButton = "default",
  variantLabel = "default",
  variantIcon = "default",
} = Astro.props;
---

<div class={`${variantFullComponent}`}>
  <a href={`${href}`}>
    <button id={id} type={type} class={`flex items-center ${variantButton}`}>
      {hasIcon && Icon && !isIconRight && <Icon class={`${variantIcon}`} />}
      <span data-i18n={`${label}`} class={`${variantLabel}`}></span>
      {hasIcon && Icon && isIconRight && <Icon class={`${variantIcon}`} />}
    </button>
  </a>
</div>
