---
const {
  id,
  label,
  href,
  type,
  variantFullComponent = "default",
  variantButton = "default",
  variantLabel = "default",
} = Astro.props;
---

<div class={`${variantFullComponent}`}>
  <a href={`${href}`}>
    <button id={id} class={`${variantButton} ${variantLabel}`} type={type}>
      <span data-i18n={`${label}`}></span></button
    >
  </a>
</div>
