---
const { id, variantFullComponent = "default", variantLabel = "default", text } = Astro.props;
---

<div class={`${variantFullComponent}`}>
  <label id={id} class={`${variantLabel}`} data-i18n={`${text}`}
    >{`${text}`}</label
  >
</div>
